:root {
    --primary-dark: #333;
    --primary-light: #ededed;
}

body {
    background-color: var(--primary-light);
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    
}

.gridBox {
    border: solid white;
    background-color: #94e2eb;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid black 1px;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    scale: 1.1;
    background-color: hsl(43, 0%, 93%);
}

